{% extends 'base.html'%}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    
    <title>Devices by IT Assistant</title>
    <link rel="stylesheet" href="{% static '/CSS/style.css' %}">
</head>
<body>
    {% block content %}
    <div>
        <h3>Registro de equipos:</h3>
        <table class="tables">
            <thead>
                <tr>
                    <th>Equipo</th>
                    <th>Usuario</th>
                    <th>Estado del Equipo</th>
                    <th>PID</th>
                    <th>Uso de CPU</th>
                    <th>Nucleos Fisicos</th>
                    <th>Nucleos Logicos</th>
                    <th>Frecuencia Actual</th>
                    <th>Frecuencia Minima</th>
                    <th>Frecuencia Maxima</th>
                    <th>Capacidad Memoria RAM</th>
                    <th>Porcentaje Memoria RAM</th>
                    <th>Uso Memoria RAM</th>
                    <th>Disponibilidad Memoria RAM</th>
                    <th>Capacidad Disco</th>
                    <th>Porcentaje Disco</th>
                    <th>Uso Disco</th>
                    <th>Disponibilidad Disco</th>
                    <th>Temperatura Actual</th>
                    <th>Temperatura Maxima</th>
                    <th>Temperatura Critica</th>
                    <th>IP</th>
                    <th>Mascara Red</th>
                </tr>
            </thead>
            <tbody>
                {% for device in devices %}
                <tr>
                    <td>{{device.Equipo}}</td>
                    <td>{{device.Usuario}}</td>
                    <td>{{device.Estado_equipo}}</td>
                    <td>{{device.PID}}</td>
                    <td>{{device.Uso_CPU}}</td>
                    <td>{{device.Nucleos_fisicos}}</td>
                    <td>{{device.Nucleos_logicos}}</td>
                    <td>{{device.Frecuencia_actual}}</td>
                    <td>{{device.Frecuencia_minima}}</td>\
                    <td>{{device.Frecuencia_maxima}}</td>
                    <td>{{device.Capacidad_RAM}}</td>
                    <td>{{device.Porcentaje_RAM}}</td>
                    <td>{{device.Uso_RAM}}</td>
                    <td>{{device.Disponibilidad_RAM}}</td>
                    <td>{{device.Capacidad_disco}}</td>
                    <td>{{device.Porcentaje_disco}}</td>
                    <td>{{device.Uso_disco}}</td>
                    <td>{{device.Disponibilidad_disco}}</td>
                    <td>{{device.Temperatura_actual}}</td>
                    <td>{{device.Temperatura_alta}}</td>
                    <td>{{device.Temperatura_critica}}</td>
                    <td>{{device.IP}}</td>
                    <td>{{device.Mascara_red}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock %}
</body>
</html>